#yellow {
    background-color: rgba(255, 255, 0, 1);      /* yellow */
    border-top: 1px solid rgba(0, 128, 0, 1);    /* green */
}

#red {
    background-color: rgba(255, 0, 0, 1);        /* red */
    border-top: 1px solid rgba(0, 0, 0, 1);      /* black */
}

#green {
    background-color: rgba(0, 128, 0, 1);        /* green */
    border-top: 1px solid rgba(255, 255, 0, 1);  /* yellow */
}
