#yellow {
    background-color: yellow;
    border-top: 1px solid green;
}

#red {
    background-color: red;
    border-top: 1px solid black;
}

#green {
    background-color: green;
    border-top: 1px solid yellow;
}
